<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8jUmuh6xIj4LSuQaJF5QcEjczuTan-AM</string>
	<key>GCM_SENDER_ID</key>
	<string>688237186185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prueba</string>
	<key>PROJECT_ID</key>
	<string>ejemplo-ac741</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo-ac741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688237186185:ios:0e7469bad8e9c6fca40a58</string>
</dict>
</plist>